<h1>FAQ Page!</h1>
<ul>
    <li><b>Is here a free version?</b> Yes! We offer a free trail for 30 day on way paid plan.</li>
    <li><b>What are your support hours?</b> Yes! We offer a free trail for 30 day on way paid plan.</li>
    <li><b>How do I contact support?</b> Email  us - <a href="www.google.com">Google</a></li>
</ul>